# Ambientes virtuais
venv/
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
.DS_Store

# Banco de dados e pasta de instância do Flask
instance/
