{% extends "base.html" %}
{% block content %}
    <div class="container-small">
        <div class="content-section">
            <!-- O action fica vazio para postar na mesma rota de onde veio -->
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <!-- O 'legend' muda se estiver editando ou criando (definido no views.py) -->
                    <legend class="border-bottom mb-4">{{ legend }}</legend>

                    <!-- Título -->
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control") }}
                        {% endif %}
                    </div>

                    <!-- Conteúdo -->
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label") }}
                        {% if form.content.errors %}
                            {{ form.content(class="form-control textarea is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <!-- Adicionando rows=10 para um campo de texto maior -->
                            {{ form.content(class="form-control textarea", rows=10) }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
