
{% extends "base.html" %}
{% block title %}Resetar Senha{% endblock %}
{% block content %}
<div class="container-small">
  <div class="content-section">
    <h2>Resetar Senha</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
        {% for e in form.email.errors %}<div class="invalid-feedback d-block">{{ e }}</div>{% endfor %}
      </div>
      <button class="btn btn-primary" type="submit">Enviar instruções</button>
    </form>
  </div>
</div>
{% endblock %}
